<!DOCTYPE html>
<html lang="en">
<head>
  <style>
/*h2 {
  border: 1px solid red;
  outline: 5px dotted green;
}*/
.body{
  color:yellow;
}
.container {
  margin: auto;
  outline:  5px green;
  color: red;
}
.operation {
margin-top: 10px;
    color: purple;

}
#a{
    color: purple;
    text-decoration: none;
}
.work{
  margin-left: 20px;
}
.work2{
  margin-left: 20px;
}
</style>
  <title>Cacheprep Task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body style="color:#a54c54">

<div class="container">
 <h2>CACHEPREP INTERNSHIP TASKS: Django Rest Framework</h2>
</div>
<marquee style="color:green;"width="100%" direction="left" height="30%">
    Click Below links to check my Hard work
</marquee>
<br>
<div class="operation">
  <a  href="http://127.0.0.1:8000/api/Question_list/" title="GET API" > <h2 style="background-color:#f3c5f3;">GET API </h2></a>
   <a  href="http://127.0.0.1:8000/api/Question_list/" title="POST API" > <h2 style="background-color:#f3c5f3;">POST API </h2></a>
    <a  href="http://127.0.0.1:8000/api/Question_list/3/" title="PUT API" > <h2 style="background-color:#f3c5f3;">PUT API </h2></a>
  </div>
  <div class="work">
    <h3>What's Working--->></h3>
    <div>
        <h5>1.Post Method is working fine</h5>
        <h5>2.Get Method searching is not upto the mark but i can do it i know.</h5>
        <h5>3.PUT Method is working well but sometimes integrity constraints can be seen.</h5>
    </div>
  </div>
  <div class="work2">
    <br>
    <hr>
      <h3>Some stuff that you may use.</h3>
    <div>
        <h5>1.Django admin id password is 'a' without quotes</h5>
        <h5>2. Screenshots of my test cases</h5>
    </div>
      <div class="work2">
    <br>
    <hr>
      <h3>Contact me to hire.</h3>
    <div>
        <h5>Sahil sharma</h5>
        <h5>Samratsahil180@gmail.com</h5>
        <h5>(+91)9009323236 </h5>
        <h5></h5>
    </div>
</div>
</body>
</html>
